html {
    height: 100%;
    background-color: #fbefda;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'K2D', sans-serif;
}

.social{
    display: flex;
    justify-content:center;
}

#copyright{
    display: flex;
    justify-content:center;
    background-color:#fbefda ;
}

.header{
    display:flex;
    justify-content:center;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
}
.aboutMain{
    display:flex;
}


.leftPane{
    width:30%;
    padding:50px;
}
.rightPane{
    width:50%;
}

h3{
    font-family: 'Abril Fatface', cursive;
}



#pic1i{
    width:100%;
    display: flex;
    justify-content: center;
    border: 3px solid gold;
}

.header{
    border: 5px solid #6eb7ac;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
}

.thumbnail-image{
    border: 3px solid #b76e79;
    width: 300px;
    
}

.content{
    display:flex;
    justify-content:center;
}

.martha {
    padding:10px;
}

